{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
{% for message in get_flashed_messages(category_filter=["success"]) %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
{% endfor %}

<div class="page-header">
    <h1>Add Book</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>

{% endblock %}